.BaseButton {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: var(--color-0);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  overflow: hidden;
  transition: width 0.2s;
  white-space: nowrap;
  position: relative;
  user-select: none;

  &:hover {
    filter: brightness(1.5);
  }
}

.PrimaryButton {
  @extend .BaseButton;

  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  background-color: var(--color-2);
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  overflow: hidden;
  transition: width 0.2s;
  white-space: nowrap;
  position: relative;
  user-select: none;

  &:hover {
    filter: contrast(1.2);
  }
}

.SecondaryButton {
  @extend .PrimaryButton;

  background-color: var(--color-3);

  &:hover {
    filter: contrast(1.5);
  }
}

.TertiaryButton {
  @extend .PrimaryButton;

  background-color: var(--color-11);

  &:hover {
    filter: contrast(2);
  }
}

.QuaternaryButton {
  @extend .BaseButton;

  padding: 0 1em;
  background-color: var(--medium-transparent-cover);
  border-radius: 50px;
  filter: var(--slightly-shadow);
  font-size: 1.3em;
  color: var(--color-12);

  .Icon {
    color: var(--color-12);
    width: fit-content;
    height: fit-content;

    i {
      pointer-events: none;
    }
  }
}

.Icon {
  margin-right: 10px;
}

.Loading {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.Disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
  color: var(--color-11);
}

.Selected {
  color: var(--color-8);
  pointer-events: none;
}
