.Wrapper {
  display: grid;
  grid-template-areas:
    "profile stream"
    "nothing stream"
    "button button"
    "mood mood";
  grid-gap: 1em;
  grid-template-rows: 1fr auto 1fr;
  padding: 1em;
  height: 100%;
}

.Button {
  grid-area: button;
}

.MyStream {
  grid-area: stream;
}

.MoodSetting {
  width: 100%;
  grid-area: mood;
}
