.Wrapper {
  position: relative;
  min-height: 100%;
  display: flex;

  .Layout {
    display: grid;
    grid-template-areas:
      "profile"
      "room"
      "button"
      "mood";
    grid-gap: 1em;
    grid-template-rows: auto 1fr auto auto;
    padding: 1em;
    position: relative;
    min-height: 100%;
    width: 100%;

    .Button {
      grid-area: button;
    }

    .MoodSetting {
      width: 100%;
      grid-area: mood;
    }

    .JoinOrCreateRoom {
      width: fit-content;
      grid-area: room;
      align-self: center;
      justify-self: center;
    }
  }
}
