.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Add {
    margin-bottom: 1em;
    width: fit-content;
  }

  .Blocks {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;

    .Block {
      display: flex;
      flex-direction: column;
    }

    .DragTarget {
      background: var(--strongly-transparent-cover);
    }
  }

  .Finished {
    opacity: 0.5;
  }
}
