.Wrapper {
  width: 175px;
  overflow: hidden;
  filter: var(--slightly-shadow);

  .Ratio {
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
  }

  .Video {
    width: 160px;
    height: 120px;
  }

  .User {
    animation: ShowUser 0.5s 0.5s ease-out forwards;
    position: relative;
    margin: 0.2em;
    border-radius: 16px;
    color: var(--color-13);
    background: var(--color-0);
    transform: translateY(110%);

    .Mood {
      position: absolute;
      left: 0.1em;
      top: 0.1em;
      font-size: 1.5em;
    }

    .Highlight {
      animation: ShowMood 0.5s ease-out forwards;
    }

    .Info {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0.5em 1em;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

@keyframes ShowUser {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ShowMood {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
