.Wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-background-color);
  background-image: var(--main-background-image);
  background-attachment: fixed;
  background-size: cover;
  z-index: 99;
  padding: 0 2em;
  box-sizing: border-box;

  .Content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: FadeIn 0.3s 0.2s forwards;
  }
}

.Loaded {
  animation: SmoothFadeOut 2s 1s forwards;
  pointer-events: none;
}

.LoadedAndLogged {
  animation: FadeOut 2s 1s forwards;
  pointer-events: none;

  .Content {
    .LoaderWrapper {
      animation: SmoothFadeOut 0.5s 0.5s forwards;
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SmoothFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeOut {
  0%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
